* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: blueviolet;
    display: flex;
    align-content: center;
    justify-content: center;
}

#carousel {

}

.spinner {
    height: 50%;
    width: 100%;
    border: 1px solid grey;
    display: flex;
    align-content: center;
    justify-content: center;
}

.platform {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    list-style-type: none;
}

.slide {
    visibility: hidden;
    width: 50%;
    height: 35%;
    float: left;
    transition-duration: 0.6s;
    transition-delay: initial;
    transform: translate(100%, 0px, 0px);

}

.onScreen {
    visibility: visible;
}

.directors {
    font-size: 50px;
}

.arrows {
    
}

.left {

}

.right {

}

.location {

}

.locator {
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 5px;
    width: 10px;
}

.locator:hover {
    background-color: deepskyblue;
}

.onScreen {
    
}

.cursor {
    cursor: pointer;
}

.left:hover, .right:hover {
    color: greenyellow;
}