* {
    box-sizing: border-box;
}

body {
    background-color: thistle;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: blueviolet;
    display: flex;
    align-content: center;
    justify-content: center;
}

#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    width: 250px;
    border: 1px solid grey;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.platform {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    max-height: 250px; 
    position: relative;
    background-color: gray;
    list-style-type: none;
}

.slide {
    /* visibility: hidden; */
    width: 100%;
    margin: 1px;
}

.R {
    transform: rotate(90deg);
}

/* .onScreen {
    visibility: visible;
} */

.directors {
    font-size: 50px;
    display: flex;
    align-content: center;
}

.arrows {
    margin: auto;
}

.left {

}

.right {

}

.location {
    visibility: hidden;
    z-index: 1;
    transform: translate(10%, 25%);
}

.locator {
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 5px;
    width: 10px;
    
}

.locator:hover {
    background-color: deepskyblue;
}

.onScreen {
    visibility: visible;
}

.cursor {
    cursor: pointer;
}

.left:hover, .right:hover {
    color: greenyellow;
}